version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: product-db-prod
    restart: always
    environment:
      POSTGRES_USER: product_user
      POSTGRES_PASSWORD: product_pass
      POSTGRES_DB: productdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    image: asia-southeast1-docker.pkg.dev/project-dd428875-fba1-452d-85f/frontend/product-backend:latest
    container_name: product-backend-prod
    restart: always
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/productdb
      - SPRING_DATASOURCE_USERNAME=product_user
      - SPRING_DATASOURCE_PASSWORD=product_pass
      - SERVER_PORT=8081
    ports:
      - "8081:8081"
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    image: asia-southeast1-docker.pkg.dev/project-dd428875-fba1-452d-85f/frontend/product-frontend:latest
    container_name: product-frontend-prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data_prod:
